body {
  background: #333;
  color: #fff;
}

.tracker {
  font-size: 14px;
  border-collapse: collapse;
  width: 600px;
  margin-inline: auto;
}

.tracker,
.tracker * {
  font-family: sans-serif;
}

.tracker th {
  font-size: 1.15em;
  text-align: left;
  font-weight: normal;
  background: rgb(48, 150, 190);
}

.tracker th,
.tracker td {
  padding: 0.75em;
}

.tracker__entries .tracker__row {
  background: rgb(216, 217, 218);
  color: #000;
}

.tracker__entries .tracker__row:hover {
  background: rgba(216, 217, 218, 0.9);
  color: #000;
}

.tracker__entries .tracker__row:nth-child(odd) {
  background: rgb(164, 165, 165);
}

.tracker__entries .tracker__row:nth-child(odd):hover {
  background: rgba(164, 165, 165, 0.85);
}

.tracker__date,
.tracker__workout,
.tracker__duration {
  display: inline-block;
  box-sizing: border-box;
  font-size: 1em;
  height: 2.5em;
  padding: 0.5px 0;
  border: none;
  outline: none;
  background: none;
}

.tracker__duration {
  width: 5em;
  text-align: right;
}

.tracker__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  outline: none;
  color: red;
  font-size: 1.5em;
  margin-left: 0.5em;
  cursor: pointer;
}

.tracker__button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.tracker__button:active {
  background: #ddd;
}

.tracker__row--add {
  border-top: 3px solid rgb(215, 212, 212);
  border-bottom: 3px solid rgb(215, 212, 212);
  background: #333;
}

.tracker__row--add td {
  text-align: right;
}

.tracker__add {
  display: inline-block;
  padding: 0.8em 1em;
  color: #fff;
  background: rgb(48, 150, 190);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 1.1em;
}

.tracker__add:hover {
  background: rgba(48, 150, 190, 0.8);
}

.tracker__add:active {
  transform: scale(0.98);
}
